.left{
    position: sticky;
    top: 20px;
    align-self: flex-start;
    
}
/* custom background color  */
.bgc-primary{
    background-color: #1e1e1f;
}

.bgc-secondary{
    background-color: #363637;
}

.bgc-card-primary{
    background-color: #222223 !important;
}
/* custom background color  */

/* custom color class */

.txt-primary{
    color: #8a8a8b;
}
.txt-secondary{
    color: #d6d6d6;
}

/* custom color class */

.img-container{
    height: 150px;
    width: 150px;
}

.img-container img{
    height: 130px;
}

.icon-box{
    box-shadow: -2px -2px 5px #363637;
}


.social-icons a i{
    transition:0.2s ease-in;
}

.social-icons a :hover{
    color: white;
}



/* right css */

.link-container{
    border-radius: 0px 30px 0px 30px;
    
}

.link-container a{
    transition: 0.2s ease-in;
}

.link-container a:hover{
    color: rgba(168, 165, 165, 0.496) !important;
}

.uline{
    height: 3px; 
    background-color: #fec261; 
    width: 80%; 
    height: 5px;
}


.test-card{
    width: 50%;
    flex-shrink: 0 !important;
}

.test-top{
    position: relative;
    
    height:50px;
}

.test-img{
    position: absolute;
    bottom: 1px;
    left: 27px;

}

.test-img img{
    height: 90px;
}

.test-top h5{
    position: absolute;
    left: 130px;
    top: 8px;
}

.test-container{
    overflow-x:scroll;
    overflow-y: hidden;
    padding-bottom: 18px;
    padding-top: 40px;
}

.test-container::-webkit-scrollbar{
    height: 6px;
}

.test-container::-webkit-scrollbar-track{
    background-color: #363637;
    margin-inline:200px ;
    border-radius:10px;
}

.test-container::-webkit-scrollbar-thumb{
    background-color:#ffdb70 ;
    width: 220px;
    border-radius:10px;
}



.client-img{
    width: 25%;
    flex-shrink: 0;
}

.client-container{
    overflow-x: scroll;
    padding-bottom: 14px;
}

.client-container::-webkit-scrollbar{
    height: 6px;
}

.client-container::-webkit-scrollbar-track{
    background-color: #363637;
    margin-inline:200px ;
    border-radius:10px;
}

.client-container::-webkit-scrollbar-thumb{
    background-color:#ffdb70 ;
    border-radius:10px;
}